@import url(modern-normalize.css);

/* CSS Reset */
:root {
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* My styles */

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

ul {
    display: flex;
    width: fit-content;
    gap: 0.8em;
    font-size: clamp(0.6rem, 0.1rem + 1vw, 1.2rem);
    color: #E5E7EB;
}

.grey-img {
    background: grey;
    color: white;
    display: flex;
    width: 47%;
    height: 100%;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.section-1 {
    background-color: #1F2937;
    align-self: stretch;
    min-width: 768px;
    display: flex;
    justify-content: space-between;
    row-gap: 7em;
    flex-wrap: wrap;
    padding: 0 10%;
    padding-bottom: 8%;
    padding-top: 1%;
}

.section-1 .s1-c1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.s1-c2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#s1-text {
    max-width: 47%;
}

.s1-h {
    font-size: clamp(1rem, 2.3rem + 1vw, 4rem);
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1.2em;
}

.s1-st {
    font-size: clamp(0.5rem, 0.4rem + 1vw, 2rem);
    color: #E5E7EB;
}

.s1-sb {
    background-color: #3883F6;
    color: white;
    border-radius: 0.2em;
    border: none;
    font-size: 22px;
    padding: 0.3em 0.5em;
    margin-top: 1em;
}

.s1-hl {
    font-size: clamp(0.8rem, 0.8rem + 1vw, 2.5rem);
    font-weight: bold;
    color: #F9FAF8;
}


/* Section 2 */

.section-2 {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 768px;
}

.foods {
    width: 10rem;
    border: #3882F6 solid;
    border-radius: 10px;
}

.s2-ht {
    width: 100%;
    text-align: center;
    padding: 1.8rem 0;

    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    color: #1F2937;
    font-weight: 900;
}

.s2-c1 {
    display: flex;
    gap: calc(0.1rem + 3vw);
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 0 10%;


}

.img-text {
    text-align: center;
    width: 10rem;
}

/* Section 3 */
.section-3 {
    min-width: 768px;
    align-self: stretch;
    background-color: #E5E7EB;
    padding: 7em 15%;
}

.quote {
    font-size: clamp(1rem, 0.5rem + 2vw, 2rem);
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: bolder;
    font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem);
    margin-top: 1em;
}


/* Section 4 */
.section-4 {
    min-width: 768px;
    align-self: stretch;
    padding: 7em 14%;
}

.s4-c, .s4-sb {
    background-color: #3883F6;
}

.s4-bt {
    font-size: calc(0.5rem + 1.5vw);
    color: white;
    font-weight: bolder;
}

.s4-st {
    display: inline-block;
    margin-right: auto;
    color: white;
    font-size: 1rem;
}

.s4-c {
    display: flex;

    justify-content: space-between;
    padding: 3rem 10%;
    border-radius: 10px;
}


.s4-sb {
    display: inline-block;
    border-radius: 10px;
    border: white solid 2px;
    color: white;
    font-size: calc(0.4rem + 0.9vw);
    padding: 0.4em 2.5em;
    margin-left: 2rem;
    align-self: center;
    font-weight: bolder;
}

/* Footer Styles */

.footer {
    min-width: 768px;
    background-color: #1F2937;
    align-self: stretch;
    display: flex;
    padding: 1.4em;
    justify-content: center;
    align-items: center;
    color: white;
}





